[Unit]
Description=Randomise GRUB logo before next boot
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/home/kazuma/.config/grub/randomizer /home/kazuma/.config/grub/logo
RemainAfterExit=no
User=root
Group=root

[Install]
WantedBy=multi-user.target
